body {
  margin: 0;

}
.nav-menu {
  background-color: #384450;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

.navbar-brand {
  color: #FFF;
  font-family: sans-serif;
  text-align: left;
  margin-left: 0px;
}
.nav-menu a {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: inline;
  padding-left: 0.5px;
  margin-inline: 10px;
}
.nav-link {
  color: #fff;
  background-color: ;
  text-decoration: none;
  align-content: center;
  border-color: #0d6efd;
  padding: 0.px;
  border-radius: 5px;
}


/* footer */
.footer{
  position: static;
  background-color: #384450;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold; 
  font-size: 20px;
  margin: 0px;
  padding: 10px;
}

/* aplica coluns */
.conteudo{
  width: 100%;
  margin: auto;
  display: relative;

}
#col-4{
  width: 250px;
  height: 700px;
  margin: auto;
}


/* Botones */
.btn-primary {
  color: #003c71;
  background-color: #fff;
  border-color: #003c71;
  padding: 10px;
  border-radius: 5px;

}
.btn-primary:hover {
  color: #fff;
  background-color: #003c71;
  border-color: #003c71;
  padding: 10px;
  border-radius: 5px;

}
.btn-secondary {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 10px;
  border-radius: 5px;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
  padding: 10px;
  border-radius: 5px;
}
.btn-success {
  color: #007953;
  background-color: #fff;
  border-color: #007953;
  padding: 10px;
  border-radius: 5px;
}
.btn-success:hover {
  color: #fff;
  background-color: #007953;
  border-color: #007953;
  padding: 10px;
  border-radius: 5px;
}
.btn-danger {
  color: #F56A1C;
  background-color: #fff;
  border-color: #F56A1C;
  padding: 10px;
  border-radius: 5px;
}
.btn-danger:hover {
  color: #fff;
  background-color: #F56A1C;
  border-color: #F56A1C;
  padding: 10px;
  border-radius: 5px;
}
.btn-warning {
  color: #cd201f;
  background-color: #fff;
  border-color: #cd201f;
  padding: 10px;
  border-radius: 5px;
}
.btn-warning:hover {
  color: #fff;
  background-color: #cd201f;
  border-color: #cd201f;
  padding: 10px;
  border-radius: 5px;
}
.btn-info {
  color: #134f5c;
  background-color: #fff;
  border-color: #134f5c;
  padding: 10px;
  border-radius: 5px;
}
.btn-info:hover {
  color: #fff;
  background-color: #134f5c;
  border-color: #134f5c;
  padding: 10px;
  border-radius: 5px;
}
.btn-light {
  color: #c0d6e4;
  background-color: #fff;
  border-color: #c0d6e4;
  padding: 10px;
  border-radius: 5px;
}
.btn-light:hover {
  color: #fff;
  background-color: #c0d6e4;
  border-color: #c0d6e4;
  padding: 10px;
  border-radius: 5px;
}
.btn-dark {
  color: #6a6a77;
  background-color: #fff;
  border-color: #6a6a77;
  padding: 10px;
  border-radius: 5px;
}
.btn-dark:hover {
  color: #fff;
  background-color: #6a6a77;
  border-color: #6a6a77;
  padding: 10px;
  border-radius: 5px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}
/* h1-h6 */
h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
h6 { 
  font-size: 14px;

}


/* zi */
#tipo1{
  color: #43b074;
  width: 600px;
  margin: auto;
  font-family: verdana;
   text-align: center;
}
#projeto{
  color: #43b074;
  width: 150px;
  margin: auto;
  font-family: verdana;
   text-align: center;
}
#tio2{
  color: blue;
  width: 150px;
  margin: auto;
  font-family: verdana;
   text-align: center;
}
#tipo3{
  color: blue;
  width: 300px;
  margin-left: 25px;
  font-family: verdana;
  text-align: center;
  }

 
.btn-face{
  color: #fff;
  background-color: blue;
  border-color: #dc3545;
  padding: 10px;
  border-radius: 5px;

}